.btn{
    height: 30px !important;
    width: 75px !important;

}
.bg-color{
    background: #fafafa;
}
.btn{
    width: 100%;
}
.card-link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.owner-details{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    padding: 12.5px 24px;
    border-radius: 4px;
}