.bg-img{
    background-image: url("https://www.godigit.com/content/dam/godigit/directportal/en/home-page-virat-banner-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.rounded-circle{
  border-color: yellow;
}
.cursor{
    cursor: pointer;
}
.btn{
  background: #fb0;
}