<div class="container bg-img cursor">
  <div class="col-md-6 p-4">
      <h2>Do the Digit Insurance</h2>
  </div>
  <div class="container-fluid d-flex w-75 mt-2 p-2 shadow-sm">
    <div class="container-fluid ">
      <a>
        <span><img src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1502/faysalfarhan150200994/36499676-car-icon-yellow-glossy-round-button.jpg"  class="border border-warning rounded-circle d-flex text-center"  alt="" height="95px" width="65px"></span>
        Car
      </a>
    </div>
    <div class="container-fluid ">
      <a>
        <span><img src="https://cdn-icons-png.flaticon.com/512/5030/5030703.png"  class="border border-warning rounded-circle d-flex text-center"  alt="" height="95px" width="65px"></span>
        Bike
      </a>
    </div>
    <div class="container-fluid">
      <a>
        <span><img src="https://cdn-icons-png.flaticon.com/512/5030/5030703.png"  class="border border-warning rounded-circle d-flex text-center"  alt="" height="95px" width="65px"></span>
        Car
      </a>
    </div>
    <div class="container-fluid">
      <a>
        <span><img src="https://cdn-icons-png.flaticon.com/512/5030/5030703.png"  class="border border-warning rounded-circle d-flex text-center"  alt="" height="95px" width="65px"></span>
        Car
      </a>
    </div>
    <div class="container-fluid">
      <a>
        <span><img src="https://cdn-icons-png.flaticon.com/512/5030/5030703.png"  class="border border-warning rounded-circle d-flex text-center"  alt="" height="95px" width="65px"></span>
        Car
      </a>
    </div>
</div>
<div class="container d-flex w-75 mt-2 p-2 shadow-sm">
  <form>
    <div class="container-fluid mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="container-fluid mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>